<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <meta name="keywords" content="django,python,C++,数据结构,电脑操作技巧,个人博客">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>简介</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pace-theme-flash.css">
    <link rel="stylesheet" href="../css/d-audio.css">
    <link rel="stylesheet" href="../css/link.css">
    <link rel="shortcut icon" href="../img/builder.jpeg">
    <style rel="stylesheet">
        .lazy-image {
            background: url('../img/loading.gif') no-repeat center;
            background-size: 26% 35%;
            height: 100%;
            width: 100%;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!--PC导航栏-->
    <nav class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="index.html" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                        src="../img/builder.jpeg" /></a>
            </div>
            <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="index.html">首页</a></div>
            <div class="nb-a-holder"><a id="active" class="nb-a ta-c" href="intro.html">简介</a></div>          
            <div class="nb-a-holder"><a class="nb-a ta-c" href="category.html">分类</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="archive.html">书单和歌单</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="link.html">链接和归档</a></div>
        </div>
    </nav>
    <!--mobile导航栏-->
    <nav class="mobile-nav">
        <div class="logo-box">
            <a href="index.html" class="blog-title ta-c">
                <img style="vertical-align: top;" alt="logo"
                    src="../img/builder.jpeg" /></a>
        </div>
        <a id="mobile_cate" style="background-image: url('../img/cate.svg')" href="javascript:void(0);"></a>
    </nav>
    <ul id="nav-m-list">
        <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
        <li id="m-img-li">
            <img id="m-img" alt="苍茫误此生" src="../img/builder.jpeg">
        </li>
        <li><a class="w-h-100 fl" href="index.html">首页</a></li>
        <li><a class="w-h-100 fl" href="intro.html">简介</a></li>
        <li><a class="w-h-100 fl" href="category.html">分类</a></li>
        <li><a class="w-h-100 fl" href="archive.html">书单和歌单</a></li>
        <li><a class="w-h-100 fl" href="link.html">链接和归档</a></li>
    </ul>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container">
        <article class="article">
            <ul class="link-box" style="text-align: center;">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">`个人简介<br></span>
                </li>
                <li>
                    <h3>ArbeiterKlassen</h3>
                </li>
                <li class="person-img-li">
                    <img src="../img/builder.jpeg" alt="ArbeiterKlassen" id="person-img" style="width: 37%;">
                </li>
                <li>
                    <a href="https://arbeiterklassen.github.io/self" target="_blank">个人博客</a><a href="https://space.bilibili.com/353804830" target="_blank">B站</a><a href="tencent://Message/?Uin=1038171180&amp;websiteName=q-zone.qq.com&amp;Menu=yes">QQ</a>
                    <p>
                        一个他的信仰者，仅此而已。<br>
                        这个昵称源自德语：工人阶级。<br><h3>——————万恶的分割线——————<br> （@Δ@）</h3>
                        <br>音游人<br>
                        主打音游有<br> <h3>Arcaea</h3><a href="https://wiki.arcaea.cn/index.php/%E9%A6%96%E9%A1%B5" style="width: 70%;">Arcaea 中文WIKI</a>
                        <img src="../img/arcaea.jfif" alt="Arcaea"><br>
                        <h3>Phigros </h3><a href="https://space.bilibili.com/414149787" style="width: 70%;">Phigros 官方（Bili）</a>
                        <img src="../img/phigros.jfif" alt="Phigros"><br>
                        <h3>MuseDash</h3><a href="https://space.bilibili.com/269396974" style="width: 70%;">MuseDash 制作组 PeroPeroGames 官方（Bili）</a>
                        <img src="../img/mushdash.jfif" alt="Muse Dash">
                        <h3>Malody</h3><a href="https://m.mugzone.net/" style="width: 70%;">Malody 官网Mugzone</a>
                        <img src="../img/malody.jfif" alt="Malody">
                        <br><br><h6>(账号什么的不可能外传的)</h6>
                        <br>INM<br>
                        这个可以有！（有端）
                        <br>Coder<br>
                        在学习Python HTML & C++（纯粹为了高中信息竞赛）
                        <br>P社纽伦堡待审甲级战犯一位<br>
                        <h6>希姆莱，我真的好喜欢你啊，mua。为了你，我要带领Tabby狂暴鸿儒大日耳曼国（</h6><br>
                        <h6>大明，我真的好喜欢你啊，mua，为了你，我要八改杀穿欧亚当你的狗</h6><br>
                        <br>马列毛主义者<br>
                        <strong>Ein Gespenst geht um in Europa-das Gespenst des Kommunismus. Alle Mächte des alten Europa haben sich zu einer heiligen Hetzjagd gegen dies Gespent verbündet, der Papst und der Zar, Metternich und Guizot, französiche Radikale und deutsche Polizisten.</strong>
                        <h6 style="text-align: right;">——Karl Marx</h6>
                        <strong>一切反动派都是纸老虎！</strong>
                        <h6 style="text-align: right;">——毛泽东</h6>
                        <strong style="text-align: right;">苏联已经证明了，没有资本家，工人会生活的很好，可资本家还没有向我们证实资本家可以离开无产者而生存。</strong>
                        <h6 style="text-align: right;">——恩斯特 台尔曼</h6>
                        <br><h3>歌单<br>Based on Netease</h3><br>
                    </p>
                </li>
            </ul>
        </article>
    </div>
    <!--尾部-->
    <footer class="footer">
        <div class="footer-line">
            <div class="icon-center">
                <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen"
                        class="foot-icon"></a>
                </span>
                <span class="icon-box"><a id="qq-icon" target="_blank"
                        href="tencent://Message/?Uin=2295098032&amp;websiteName=q-zone.qq.com&amp;Menu=yes"
                        class="foot-icon"></a>
                </span>
            </div>
        </div>
        <div class="footer-line">Powerde By <a href="https://github.com/zhaoyangkun/Boundless-UI"
                target="_blank">BoundlessUI</a> • © 2019</div>
        <div class="footer-line">浙ICP备88888888号 <a href="" target="_blank">站点地图</a>
        </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../js/pace.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/d-audio.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>
</html>