<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta charset="UTF-8">
    <meta name="keywords" content="django,python,C++,数据结构,电脑操作技巧,个人博客">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>链接和归档</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pace-theme-flash.css">
    <link rel="stylesheet" href="../css/d-audio.css">
    <link rel="stylesheet" href="../css/link.css">
    <link rel="stylesheet" href="../css/archive.css">
    <link rel="shortcut icon" href="../img/builder.jpeg">
    <style rel="stylesheet">
        .lazy-image {
            background: url('../img/loading.gif') no-repeat center;
            background-size: 26% 35%;
            height: 100%;
            width: 100%;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--PC导航栏-->
    <nav class="nav-bar-holder">
        <div class="nav-bar" id="nav-bar">
            <div class="logo-box">
                <a href="index.html" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                        src="../img/builder.jpeg" /></a>
            </div>
            <div class="nb-a-holder" id="home"><a class="nb-a ta-c" href="index.html">首页</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="intro.html">简介</a></div>          
            <div class="nb-a-holder"><a class="nb-a ta-c" href="category.html">分类</a></div>
            <div class="nb-a-holder"><a class="nb-a ta-c" href="archive.html">书单和歌单</a></div>
            <div class="nb-a-holder"><a id="active" class="nb-a ta-c" href="link.html">链接和归档</a></div>
        </div>
    </nav>
    <!--mobile导航栏-->
    <nav class="mobile-nav">
        <div class="logo-box">
            <a href="index.html" class="blog-title ta-c">
                <img style="vertical-align: top;" alt="logo"
                    src="../img/builder.jpeg" /></a>
        </div>
        <a id="mobile_cate" style="background-image: url('../img/cate.svg')" href="javascript:void(0);"></a>
    </nav>
    <ul id="nav-m-list">
        <li id="cancel-li"><a class="fr" id="cancel" href="javascript:void(0);"></a></li>
        <li id="m-img-li">
            <img id="m-img" alt="苍茫误此生" src="../img/builder.jpeg">
        </li>
        <li><a class="w-h-100 fl" href="index.html">首页</a></li>
        <li><a class="w-h-100 fl" href="intro.html">简介</a></li>
        <li><a class="w-h-100 fl" href="category.html">分类</a></li>
        <li><a class="w-h-100 fl" href="archive.html">书单和歌单</a></li>
        <li><a class="w-h-100 fl" href="link.html">链接和归档</a></li>
    </ul>
    <div id="d-audio" class="d-audio" style="width: 150px; z-index: 99; position: fixed; bottom: 5px; left: 5px;"></div>
    <!--主体-->
    <div class="big-container">
        <article class="article">
            <ul class="link-box">
                <li>
                    <span style="text-align: center;display: block;font-size:large;">项目人员鸣谢<br><h5>排名不分先后</h5></span>
                </li>
                <li>
                    <h3>Faschiung</h3>
                    <a href="https://space.bilibili.com/322026087" target="_blank">B站</a>
                    <span class="description">一位最初便志同道合的同志！</span>
                    <span class="description">这个昵称是英文Fashion的德文转写。</span>
                </li>
                <li>
                    <h3>两河流域</h3>
                    <a href="https://www.zhihu.com/people/ban-bian-xin-zang">知乎</a>
                    <a href="https://space.bilibili.com/454159187">B站</a>
                    <span class="description">第三位同志！</span>
                </li>
                <li>
                    <h3>有为青年</h3>
                    <span class="description">QQ:2336295925</span>
                </li>
                <li>
                    <h3>小蔡鸡 Jade Cai</h3>
                    <span class="description">QQ:1206807009</span>
                </li>
            </ul>
            <!--友情链接-->
            <ul class="link-box">
                <span style="text-align: center;display: block;font-size:large;">友情链接</span>
                <li>
                    <p>共产主义民主学习小组（CDS）</p>
                    <span class="description">由以上两人以及诸多同志创建的共产主义民主学习小组。<br><a href="https://arbeiterklassen.github.io/self/CDS_intro.html">——》小组の介绍(无群号)《——</a><br><img src="../img/group.jpg" alt=""><br>(不知道为啥搜不到群所以就...)</span>
                </li>
                <li>
                    <a href="https://www.bilibili.com">Bilibili本社</a>
                    <span class="description">一个资本家的屑站罢了</span>
                </li>
                <li>
                    <h3>未明子</h3>
                    <a href="https://space.bilibili.com/23191782" target="_blank">B站</a>
                    <span class="description">江苏人，政治经济学者，B站UP，主攻哲学，讲解深刻</span>
                </li>
                <li>
                    <h3>卢麒元</h3>
                    <a href="https://space.bilibili.com/1446926098" target="_blank">B站</a>
                    <span class="description">全球大学堂-麒元视角栏目主讲人，主攻国际政治经济学</span>
                </li>
                <li>
                    <h3>温铁军（国仁全球大学堂）</h3>
                    <a href="https://space.bilibili.com/679619486" target="_blank">B站</a>
                    <span class="description">包含温铁军，戴锦华，卢麒元等诸位讲师。涉及方面较广</span>
                </li>
            </ul>
        </article>
    </div>
    <main class="big-container">
        <article class="article">
            <ul class="achieve-box">
                <h2 style="text-align: center;">---归档---</h2>
                <li class="year">
                    2021年 6月 <span style="color: #3aa4ff">1</span> 篇
                </li>
                <li class="detail-item">
                    <span class="date">6-29</span>
                    <a href="../articles/谈巴以冲突.html" class="title">谈巴以冲突</a>
                </li>
                <li class="year">
                    2021年 7月 <span style="color: #3aa4ff">1</span> 篇
                </li>
                <li class="detail-item">
                    <span class="date">7-23</span>
                    <a href="../articles/怎么办（1）.html" class="title">怎么办（1）</a>
                </li>
                <li class="year">
                    2021年 8月 <span style="color: #3aa4ff">4</span> 篇
                </li>
                <li class="detail-item">
                    <span class="date">8-17</span>
                    <a href="../articles/谈近期的反黑人思潮.html" class="title">谈近期的反黑人思潮</a>
                </li>
                <li class="detail-item">
                    <span class="date">8-19</span>
                    <a href="../articles/评当前补习班教育问题.html" class="title">评当前补习班教育问题</a>
                </li>
                <li class="detail-item">
                    <span class="date">8-21</span>
                    <a href="../articles/论中国国家资本.html" class="title">论中国国家资本</a>
                </li>
                <li class="detail-item">
                    <span class="date">8-27</span>
                    <a href="../articles/三篇读后杂记.html" class="title">三篇读后杂记</a>
                </li>
            </ul>
        </article>
    </main>
    <!--尾部-->
    <footer class="footer">
        <div class="footer-line">
            <div class="icon-center">
                <span class="icon-box"><a id="github-icon" target="_blank" href="https://github.com/arbeiterklassen"
                        class="foot-icon"></a>
                </span>
                <span class="icon-box"><a id="qq-icon" target="_blank"
                        href="tencent://Message/?Uin=2295098032&amp;websiteName=q-zone.qq.com&amp;Menu=yes"
                        class="foot-icon"></a>
                </span>
            </div>
        </div>
        <div class="footer-line">Powerde By <a href="https://github.com/zhaoyangkun/Boundless-UI"
                target="_blank">BoundlessUI</a> • © 2019</div>
        <div class="footer-line">浙ICP备88888888号 <a href="" target="_blank">站点地图</a>
        </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../js/pace.min.js"></script>
    <script type="text/javascript" src="../js/base.js"></script>
    <script type="text/javascript" src="../js/d-audio.js"></script>
    <script type="text/javascript" defer>
        //图片懒加载
        const lazyImage = new LazyImage('.lazy-image');
    </script>
</body>

</html>